<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.vayocdzor">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_gini"
        android:label="@string/arm"
        android:roundIcon="@mipmap/ic_launcher_gini_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Herher"
            android:theme="@style/AppTheme1"></activity>
        <activity android:name=".Jrahars"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Exnik"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Noravank"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Momik"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Angx"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Tanahat"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Arkaz"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Spitakavor"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Zorac"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Shativank"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".GndeLegend"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Gndevank"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Caxac"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Gayane"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Areni"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Astvacacin"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Trdat"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Sion"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Smbat_bert"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Smbatabert"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Vay"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".VayocDzor"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Vayk"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Jermuk"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Yexegnadzor"
            android:theme="@style/AppTheme1"/>
        <activity android:name=".Main2Activity4"
            android:theme="@style/AppTheme1" />
        <activity android:name=".Main2Activity3"
            android:theme="@style/AppTheme1" />
        <activity android:name=".Main2Activity2"
            android:theme="@style/AppTheme2" />
        <activity android:name=".Main2Activity1"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>